@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');

body{
    font-family: 'Lato', sans-serif;
    
    
}

*{
    box-sizing: border-box;
}
/* nav design styles starts here */
nav{
    background-color: #9376e0;
}

.nav-container{
    align-items: center;
    display: flex;
    max-width: 1100px;
    margin: 0 auto;
    
}

.logo-container img{
    width: 50px;
    object-fit: cover;
    margin-right: 20px;
}
.logo-container p{
    font-size: 30px;
   
}
.hive-section{
    color: #e893cf;
}

.logo-container{
    display: flex;
    width: 50%;
}

.nav-items-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.nav-items-container a{
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.nav-items-container .login-btn{
    background-color: #e893cf;
    padding: 10px 20px;
    font-weight: 700px;
    border-radius: 5px;
    color: black;
    text-align: center;

}

/* navbar design styles ends here */


/* ____________________________________________________________________________________________________________________ */
/* simple banner design styles starts here */

.banner-container{
    
  margin: 50px auto 0;
  max-width: 1100px;
  min-height: 50px;
  display: flex;
  background-color: #e6e9eb;
  padding: 10px;
  border-radius: 10px;
}

.banner-text{
    width: 50%;
    text-align: center;

}

.banner-text p{
    font-size: 45px;

}
.banner-img{

    width: 50%;
}

.banner-img img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.banner-text h1{
    background-image: linear-gradient(to bottom,#9376e0,#e893cf);
    color: transparent;
    -webkit-background-clip: text;
    font-size: 50px;
}
.banner-text p{
    font-size: 45px;
    font-family: 'Dancing Script', cursive;
}

.icons-container{
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    width: 60%;
    margin: 0 auto 40px;
}

.fa-brands{
    font-size: 60px;

}
.banner-button{
    background-color: transparent;
    padding: 10px 20px;
    border: 2px solid #9376e0;
    margin-right: 20px;
    border-radius: 5px;
}

/* simple banner design styles ends here */
/* ___________________________________________________________ */



/* ___________________products styles starts here_______________ */

    .grid-container{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        max-width: 1100px;
        margin: 50px auto 0;
        min-height: 400px;
        gap: 15px;
        
    }

    .single-product{
        background-color: rgb(199, 211, 223);
        border-radius: 10px;
        padding: 0 10px;
        box-shadow: 2px 2px 4px  black;
    }

    .single-product img{
        width: 70%;
        display: block;
        margin: auto;
    }
.product-icon-name-container{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.product-icon{
    font-size: 20px;
}
.product-icon-name-container  span{
    padding: 10px;
    background-color: #9376e0;
    border-radius: 50%;
    margin-left: 5px;
    color: white;

}



/* ___________________________products styles ends here_______________ */